.welcome-container {
  text-align: center;
  background-image: url("../../../../assets/images/getleman-programming.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
